body { text-align: center; padding: 50px; }
h1 { font-size: 50px;}
body { font: 20px Helvetica, sans-serif; color: #333; }
button { cursor: pointer; background-color: white; }
button:hover {background-color: lightgray;}

.container{ max-width: 960px; }
.m-jumbo{ margin: 0 0 38px 0; }

.square { font-size: 38px; width:100px; height:100px; margin:0px; padding:0px; vertical-align: top;}
.status { margin-top: 32px; font-weight: bold; }
.reset { width: 300px; height: 50px; margin-top: 32px; font-size: 26px; }

.red { color:red !important;}
.blue { color:blue; }

.no-border-top{ border-top: transparent; }
.no-border-right{ border-right: transparent; }
.no-border-bottom{ border-bottom: transparent; }
.no-border-left{ border-left: transparent; }

@media only screen and (max-width: 400px) {
    .square { width:75px; height:75px; }
    .reset { width: 236px; }
  }